{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": true,
	"printWidth": 100,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"embeddedLanguageFormatting": "off"
			}
		}
	]
}
